html {
  --primery-1: rgb(61, 55, 240);
}

/* header */
header {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
  background-color: white;
}
header p {
  font-size: 2rem;
  font-weight: bold;
}
header p span {
  color: var(--primery-1);
}
.icons-container {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  font-size: 2rem;
  color: var(--primery-1);
  align-items: center;
}
/* hero--------------------- */
.hero {
  background-color: var(--primery-1);
  min-height: 90vh;
  color: rgb(215, 214, 214);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.hero p {
  font-size: 1.7rem;
  line-height: 1.7;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primery-1);
}
.btn:hover {
  background-color: rgb(194, 191, 191);
  border: 1px solid #ffffff;
  color: var(--primery-1);
  font-weight: bold;
}
/* -------about--------------- */
.prototype1 {
  padding: 4rem 4rem 0;
}
.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 0.5rem;
}
.section-title span {
  color: var(--primery-1);
}
.section-subtitle {
  font-size: 2rem;
  padding-top: 3rem;
}
.section-text p {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.section-link {
  font-size: 1.5rem;
  color: blue;
}
