html {
  --primery-1: rgb(61, 55, 240);
}
a {
  color: blue;
  font-size: 1.7rem;
}

/* header */
header {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
  background-color: white;
}
header p {
  font-size: 2rem;
  font-weight: bold;
}
header p span {
  color: var(--primery-1);
}
.icons-container {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  font-size: 2rem;
  color: var(--primery-1);
  align-items: center;
}
/* hero--------------------- */
.hero {
  background-color: var(--primery-1);
  min-height: 90vh;
  color: rgb(215, 214, 214);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
}
.hero p {
  font-size: 1.7rem;
  line-height: 1.7;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn {
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: white;
  background-color: var(--primery-1);
}
.btn:hover {
  background-color: rgb(194, 191, 191);
  border: 1px solid #ffffff;
  color: var(--primery-1);
  font-weight: bold;
}
/* -------about--------------- */
.prototype1 {
  padding: 4rem 4rem;
}
.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 0.5rem;
}
.section-title span {
  color: var(--primery-1);
}
.section-subtitle {
  font-size: 2rem;
  padding-top: 3rem;
}
.section-text p {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.section-link {
  font-size: 1.5rem;
  color: blue;
}
/* ------our services */
.prototype2 {
  padding: 4rem 0 1rem;
}
.services {
  background-color: #e4e4e4;
}
.cart-container {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.cart-item {
  /* max-width: 40%; */
  max-width: 45%;
  margin-top: 3rem;
}
.icon-style {
  font-size: 3rem;
  background-color: var(--primery-1);
  padding: 1rem;
}
.ss2 {
  padding-top: 2rem;
}
.cart-item p {
  font-size: 1.5rem;
  padding-top: 2rem;
}
/* --- Featured---------- */
.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1.5rem;
}
.place {
  font-size: 1.7rem;
  color: var(--primery-1);
}
.prise-container p {
  font-size: 1.5rem;
  font-weight: bold;
}
.img-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 3rem;
}
.feature-text {
  position: absolute;
  bottom: calc(100% - 5rem);
  z-index: 1;
  background-color: rgb(114, 109, 244);
  font-size: 1.5rem;
  padding: 0.5rem;
}
.a-center {
  text-align: center;
  margin-top: 4rem;
}
